@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0 3rem 0;
}

.code {
  max-height: 20em;
  overflow-y: scroll;
}

.db-pic {
  height: 20em;
}

code {
  color: black;
}

.code {
  text-align: left;
}

hr {
  margin-bottom: 1rem;
  width: 64%;
  margin-left: 17%;
}

.puppies,
.owners,
.tricks,
.puppies_tricks,
.title {
  margin-left: 10rem;
}

.title {
  margin-top: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

h3 {
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.dark {
  background-color: rgb(44, 31, 54);
  font-family: "Open Sans", sans-serif;
  color: rgb(148, 199, 148);
}

.dark-code {
  color: rgb(148, 199, 148);
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
